.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.main h1 {
  color: seagreen;
  font-size: 3rem;
}
.inputDiv {
  width: 70%;
  font-size: 2rem;
  margin: auto;
}
.inputDiv input {
  height: 3rem;
  margin-left: 1rem;
}
.red {
  color: red;
}
.yellow {
  color: rgb(209, 209, 54);
}
.green {
  color: green;
}
.code {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
